/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bs-stepper/dist/css/bs-stepper.min.css";
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@import "./assets/scss/variables.scss";

// Import Custom Mixins and Components
@import "./assets/scss/mixins";
@import "./assets/scss/global.scss";
@import "./assets/scss/utilities.scss";

//Custom Components
@import "./assets/scss/dropdowns.scss";
@import "./assets/scss/navs.scss";
@import "./assets/scss/buttons.scss";
@import "./assets/scss/cards.scss";
@import "./assets/scss/footer.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
