.first-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  margin-top: 6.5px;
  color: #fff;
}

.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.fas.fa-sign-out-alt {
  color: #ffb600;
  font-size: 20px;
}

.modal-content {
  background-color: #fffcf4;
}

.btn-logOut {
  background-color: #0a5f59;
  color: #fff;

  &:hover {
    background: #07413d;
    border-color: #07413d;
  }
}

.btn-cancel {
  background-color: transparent;
  color: #0a5f59;
  border: solid 1px #0a5f59;

  &:hover {
    background-color: #f2ead0;
    color: #07413d;
    border: solid 1px #07413d;
    font-weight: 500;
  }
}
