<ul
  class="navbar-nav sidebar sidebar-dark accordion"
  id="accordionSidebar"
  [class.toggled]="isToggled"
>
  <a
    class="sidebar-brand d-flex align-items-center justify-content-start"
    href="index.html"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <img src="brand-icon.svg" alt="brand-icon" />
    </div>
    <div class="sidebar-brand-text mx-3">MPMT.</div>
  </a>

  <button *ngIf="!isToggled" type="button" class="btn btn-project">
    <i class="fa-solid fa-circle-plus"></i>
    Créer un nouveau projet
  </button>

  <button *ngIf="isToggled" type="button" class="btn btn-project-toggle">
    <i class="fa-solid fa-circle-plus"></i>
  </button>

  <hr class="sidebar-divider" />
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Tableau de bord </span></a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="#"
      (click)="toggleCollapse($event)"
      [ngClass]="{ active: isCollapsed, collapsed: !isCollapsed }"
      [attr.aria-expanded]="isCollapsed ? 'true' : 'false'"
      data-toggle="collapse"
      aria-controls="collapseTwo"
    >
      <i class="fa-solid fa-briefcase"></i> <span>Projets</span>
    </a>
    <div
      id="collapseTwo"
      [ngClass]="{ show: isCollapsed }"
      class="collapse"
      aria-labelledby="headingTwo"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Mes projets :</h6>

        <a class="collapse-item" href="#"> ● Projet</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider" />

  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fa-solid fa-list-check"></i> <span>Tâches</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fa-solid fa-users"></i> <span>Memebres</span>
    </a>
  </li>

  <hr class="sidebar-divider d-none d-md-block" />

  <div class="text-center d-none d-md-inline">
    <button
      class="rounded-circle border-0"
      (click)="toggleSidebar()"
      id="sidebarToggle"
    ></button>
  </div>
</ul>
