<!-- Begin Page Content -->
<div class="container-fluid pe-3 ps-3">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
      <h1 class="h3 mb-1 text-gray-800">Mes projets</h1>
      <small class="text-gray-600"
        >Gérez et suivez l'avancement de vos projets en un coup d'œil.</small
      >
    </div>
    <button
      class="d-none d-sm-inline-block btn btn-add shadow-sm"
      *ngIf="isAdmin() || !noProjects"
      (click)="createProject()"
    >
      <i class="fas fa-plus"></i> Nouveau projet
    </button>
  </div>
  <hr class="text-gray-500" />
  <div class="spinner-wrapper space-x-2">
    <ng-container *ngIf="loading">
      <div
        *ngFor="let spinner of spinnerArray"
        class="spinner-grow"
        role="status"
      ></div>
    </ng-container>
  </div>
  <div
    class="row d-flex justify-content-start"
    *ngIf="
      !loading && projectResponse?.content?.length as length;
      else noProjects
    "
  >
    <div class="col-lg-6" *ngFor="let projet of projectResponse.content">
      <div class="card shadow mb-4 project-card">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h4 class="m-0 font-weight-bold">{{ projet.name }}</h4>

          <!-- Dropdown utilisant ngbDropdown 
          <div ngbDropdown class="dropdown"  placement="right-start">
            <a
              class="dropdown-toggle"
              ngbDropdownToggle
              id="dropdownMenuLink"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-fw text-gray-600"></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>-->
        </div>

        <!-- Card Body -->
        <div class="card-body pb-0">
          <div class="row">
            <div class="col-6">
              <div class="text-gray-600 pb-3 ms-2 d-flex">
                <div class="row">
                  <div class="col-auto p-0">
                    <span class="available"></span> Propriétaire :
                  </div>
                  <div class="col-auto p-0">
                    <span class="text-gray-800">
                      &nbsp;{{ projet.owner | titlecase }}</span
                    >
                  </div>
                </div>
              </div>
              <div class="inner-card-memb">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h6 class="card-subtitle">
                        <i class="fa-solid fa-people-group"></i> Membres &nbsp;
                      </h6>

                      <h6 class="card-subtitle">
                        {{ projet.members?.length || 0 }}
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="text-gray-600 pb-3 ms-2 d-flex">
                <div class="row">
                  <div class="col-auto p-0">
                    <span class="available"></span> Date de début :
                  </div>
                  <div class="col-auto p-0">
                    <span class="text-gray-800">
                      &nbsp;{{ projet.startDate }}</span
                    >
                  </div>
                </div>
              </div>
              <div class="inner-card-task">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h6 class="card-subtitle">
                        <i class="fa-solid fa-list-check"></i>
                        Tâches &nbsp;
                      </h6>
                      <h6 class="card-subtitle">
                        {{ projet.tasks?.length || 0 }}
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr />
        </div>
        <div class="card-footer">
          <button
            class="btn btn-project"
            (click)="viewProjectDetails(projet.id!)"
          >
            Voir Projet <i class="fa fa-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noProjects>
    <app-no-projects-component *ngIf="!loading"></app-no-projects-component>
  </ng-template>

  <div
    class="d-flex justify-content-center mt-3"
    *ngIf="projectResponse.totalElements! > 4"
  >
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li page="page-item">
          <a
            (click)="goToFirstPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            [class.disabled]="page === 0"
          >
            <i class="fa-solid fa-angles-left"></i>
          </a>
        </li>
        <li page="page-item">
          <a
            (click)="goToPreviousPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            [class.disabled]="page === 0"
          >
            <i class="fa-solid fa-angle-left"></i>
          </a>
        </li>
        <li
          class="page-item"
          *ngFor="
            let _ of [].constructor(this.projectResponse.totalPages);
            let pageIndex = index
          "
        >
          <a
            (click)="goToPage(pageIndex)"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            [class.active]="page === pageIndex"
          >
            {{ pageIndex + 1 }}
          </a>
        </li>
        <li page="page-item">
          <a
            (click)="goToNextPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Next"
            [class.disabled]="isLastPage"
          >
            <i class="fa-solid fa-angle-right"></i>
          </a>
        </li>
        <li page="page-item">
          <a
            (click)="goToLastPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Next"
            [class.disabled]="isLastPage"
          >
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
